/* html{
  position: fixed;
} */
body {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 18px;
    line-height: 34px;
    background: url("../images/scuffedstatic_dark_1920x1234.jpg");
    color: whitesmoke;
}

/* Style the sidebar - fixed full height */
.sidebar {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    
    overflow-x: hidden;
    padding-top: 16px;
  }
  
  /* Style sidebar links */
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 30px;
    color:#08fdd8;
    display: block;
  }
  
  /* Style links on mouse-over */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Style the main content */
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  /* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  h2{
   color: #fc0853
  }

  p{
    color: gray;
    font-family: 'Dancing Script', cursive;
  }
  /*link formatting*/
  a:link {
    color:  #fc0853; 
    background-color: transparent; 
    text-decoration: none;
  }
  
  a:visited {
    color:#08fdd8;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: pink;
    background-color: transparent;
    text-decoration: underline;
  }
